{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "valid-jsdoc": "warn",
        "array-callback-return": "error",
        "complexity": ["error", {"max": 20}],
        "consistent-return": "error",
        "curly": ["warn", "multi-or-nest"],
        "default-case": "error",
        "dot-location": ["error", "property"],
        "eqeqeq": "error",
        "guard-for-in": "error",
        "no-caller": "error",
        "no-div-regex": "warn",
        "no-else-return": "warn",
        "no-empty-function": "warn",
        "no-eq-null": "error",
        "no-extend-native": "error",
        "no-extra-label": "warn",
        "no-implicit-coercion": "error",
        "no-loop-func": "warn",
        "no-multi-spaces": "warn",
        "no-console": "allow",
        "no-new-wrappers": "error",
        "no-new": "error",
        "no-param-reassign": "error",
        "no-return-assign": "error",
        "no-self-compare": "warn",
        "no-sequences": "error",
        "no-unmodified-loop-condition": "error",
        "no-warning-comments": "warn",
        "no-with": "error",
        "wrap-iife": ["error", "outside"],
        "no-undef-init": "error",
        "global-require": "error",
        "no-new-require": "error",
        "array-bracket-spacing": ["error", "never"],
        "block-spacing": ["error", "always"],
        "camelcase": "error",
        "comma-spacing": "error",
        "comma-style": ["error", "last", {"exceptions": {"ArrayExpression": true,
                                                          "ObjectExpression": true}}],
        "eol-last": ["warn", "unix"],
        "indent": ["error", 4,{ "SwitchCase": 1 }],
        "key-spacing": ["warn", {"beforeColon": false,
                                 "afterColon": true,
                                 "mode": "strict"}],
        "keyword-spacing": "error",
        "max-depth": ["error", {"max": 4}],
        "max-len": ["warn", 100],
        "new-cap": "error",
        "new-parens": "error",
        "no-lonely-if": "warn",
        "no-multiple-empty-lines": ["warn", {"max": 2}],
        "no-nested-ternary": "error",
        "no-spaced-func": "error",
        "no-trailing-spaces": "error",
        "no-whitespace-before-property": "error",
        "object-curly-newline": ["error", {"multiline": true}],
        "object-curly-spacing": ["error", "never"],
        "space-before-blocks": "error",
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": ["error", "never"],
        "arrow-spacing": "error",
        "no-duplicate-imports": "error",
        "no-var": ["error"],
        "prefer-const": "warn"
    }
}
